@import "../../common.scss";
@import "../../variables.scss";

.paginator {
    padding-bottom: rem(30px);
    .characters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

.message {
    height: 70vh;
    display: flex;
    align-items: center;

    &.error {
        flex-direction: column;
        justify-content: center;
        color: red;
        font-size: rem(20px);
    }
}
