@import "../../variables.scss";
@import "../../common.scss";

.menu {
    display: flex;
    height: rem(16px);
    background-color: $dark-color;
    align-items: center;
    padding: rem(20px);
    font-size: rem(18px);
    a {
        margin-right: rem(20px);
        text-decoration: none;
        color: $light-color;
        &:hover {
            opacity: 0.6;
        }
    }
}
